.button {
    font-family: var(--ff);
    font-weight: var(--fw-bold);
    background-color: var(--accent);
    color: var(--white);
    padding: 10px;
    font-size: 25px;
    line-height: 1;
    text-transform: uppercase;
    transition: filter ease var(--tr),
        background-color ease var(--tr);
}

.button:hover {
    opacity: 1;
    filter: blur(1px);
}

.button:active {
    filter: blur(2px);
    background-color: #fd177f;
}

.button.disabled {
    opacity: var(--op);
    cursor: not-allowed;
}