:root {
    --ff: 'Upheaval Pro';
    --ff-black: 'Freaks of Nature massive';
    --ff-white: 'Freaks of Nature';
    --ff-title: 'Stencil Pixel-7';
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;
}