@import './css/fonts.css';
@import './css/colors.css';
@import './css/typography.css';
@import './css/other.css';

/* Grid */
.container {
	width: 100%;
	max-width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

@media all and (min-width: 768px) {
	.container {
		max-width: 760px
	}
}

@media all and (min-width: 992px) {
	.container {
		max-width: 990px
	}
}

@media all and (min-width: 1200px) {
	.container {
		max-width: 1400px;
	}
}

/*  */

* {
	outline: none;
	box-sizing: border-box
}

body,
html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0
}

body {
	position: relative;
	min-width: 300px;
	display: flex;
	height: auto;
	font-family: 'Madimi One', sans-serif;
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	background-color: #111111;
}

span::selection, div::selection, p::selection, a::selection, button::selection,h1::selection,h2::selection,h3::selection {
	background-color: #2fface;
	color: #111111;
}

img {
	max-width: 100%;
	height: auto
}

ul {
	margin: 0;
	padding: 0;
	list-style: none
}

button {
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: opacity ease var(--tr);
}

button:hover {
    opacity: var(--op);
}

#root {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

.footer {
	margin-top: auto
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: 'Tekkers 3 FV', sans-serif;
	font-weight: 700;
	line-height: 1.3;
	margin: 0
}

h1,
.h1 {
	font-size: 32px;
}

h2,
.h2 {
	font-size: 26px;
}

h3,
.h3 {
	font-size: 24px
}

h4,
.h4 {
	font-size: 20px
}

h5,
.h5 {
	font-size: 18px
}

h6,
.h6 {
	font-size: 16px
}

a {
	display: inline-block;
	transition: opacity ease 0.35s;
}

a:hover {
	opacity: 0.35s;
}

img {
	display: block;
}

form,
fieldset {
	padding: 0;
	margin: 0;
}

p {
    font-family: var(--ff);
    font-weight: var(--fw-bold);
	margin: 0;
	padding: 0;
}

b,
strong {
	font-weight: 700
}

.cursor-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  #cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ff0000);
    background-size: 400% 400%;
    animation: gradientMove 5s infinite;
    transform: translate(-50%, -50%);
  }
  
  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }